header-height = 40px
left-width = 200px
my-blue = rgb(24, 144, 255)
code-background = rgb(90, 90, 90)
code-color = rgb(170, 230, 255)

.setting-page
    position fixed
    padding 30px
    margin 0
    top header-height
    left left-width
    right 0
    bottom 0
    overflow auto
    min-width 600px
    min-width 600px

    .setting-item
        margin 40px
        height 35px
        .setting-item-left
            text-align right
            line-height 35px
            font-size 24px                    
        .setting-item-right
            text-align left
    .button-row
        margin 40px
        text-align center
        button
            min-width 120px

    