<div class="main-page" *ngIf="configInit">

    <div class="main-router-page">
        <router-outlet></router-outlet>
    </div>
    

    <div class="main-left">
        <div style="text-align: center; margin: 200px;" *ngIf="!catalogueInit">
            <nz-spin nzSimple></nz-spin>
        </div>
        <div *ngIf="catalogueInit" class="catalogue-tree-div">
            <nz-tree
                [nzData]="catalogueTree"
                (nzClick)="activeNodeChange($event)"
                (nzDblClick)="openFolder($event)"
                [nzTreeTemplate]="nzTreeTemplate"
            ></nz-tree>
            <ng-template #nzTreeTemplate let-node>
            <span class="custom-node" [class.active]="activeNode?.key === node.key">
                <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, dirMenu, node)" [class.cutChild]="cutChildId === node.key">
                    <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
                    <span class="folder-name">{{ node.title }}&#160;</span>
                    <i nz-icon nzType="lock" *ngIf="node.origin['private']"></i>
                </span>
                <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, fileMenu, node)" [class.cutChild]="cutChildId === node.key">
                    <i nz-icon nzType="file"></i>
                    <span class="file-name">{{ node.title }}&#160;</span>
                    <i nz-icon nzType="lock" *ngIf="node.origin['private']"></i>
                </span>
            </span>

            </ng-template>
            <nz-dropdown-menu #dirMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="newDir()">新建文件夹</li>
                    <li nz-menu-item (click)="newFile()">新建文件</li>   
                    <li nz-menu-item (click)="getCatalogue()">刷新</li>            
                    <li nz-menu-item (click)="dirRename()">重命名</li>
                    <li nz-menu-item (click)="cutFrom()">剪切</li>
                    <li nz-menu-item (click)="cutTo()" *ngIf="cutChildId !== null">粘贴</li>
                    <li nz-menu-item *ngIf="cutChildId === null" style="color:#bbb">粘贴</li>
                    <li nz-menu-item (click)="dirChangePrivate()">隐藏/公开</li>
                    <li nz-menu-item (click)="dirDelete()">删除</li>
                </ul>
            </nz-dropdown-menu>
            <nz-dropdown-menu #fileMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="fileRename()">重命名</li>
                    <li nz-menu-item (click)="getCatalogue()">刷新</li>   
                    <li nz-menu-item (click)="cutFrom()">剪切</li>
                    <li nz-menu-item (click)="fileChangePrivate()">隐藏/公开</li>
                    <li nz-menu-item (click)="fileDelete()">删除</li>
                </ul>
            </nz-dropdown-menu>
        </div>

    </div>

    

    <div class="main-header">
        <div class="main-header-left">
            <img src="/assets/img/logo.png" width="32px" />    
        </div>
        <div class="main-header-middle">
            <b class="title">{{config["title"]}}</b>       
        </div>
        <div class="main-header-right">
            <a nz-col [nzSpan]="1" (click)="logout()"><i nz-icon [nzType]="'logout'"></i></a>
        </div>
    </div>


</div>

<nz-modal
    [(nzVisible)]="ifShowDirRenameModal"
    nzTitle="文件夹重命名"
    (nzOnCancel)="dirRenameCancel()"
    (nzOnOk)="dirRenameOk()"
    [nzOkLoading]="dirRenameWaiting"
>
    <div nz-row nzAlign="middle" class="itemLine">
        <div nz-col [nzSpan]="8" style="text-align: right">
            <b>重命名：</b>      
        </div>
        <div nz-col [nzSpan]="15" [nzOffset]="1" >
            <input nz-input maxlength=50 style="width: 100%;" placeholder="请输入文件夹名" [(ngModel)]="dirRenameNewName" />
        </div>
    </div>
</nz-modal>

<nz-modal
    [(nzVisible)]="ifShowNewDirModal"
    nzTitle="新建文件夹"
    (nzOnCancel)="newDirCancel()"
    (nzOnOk)="newDirOk()"
    [nzOkLoading]="newDirWaiting"
>
    <div nz-row nzAlign="middle" class="itemLine">
        <div nz-col [nzSpan]="8" style="text-align: right">
            <b>新文件夹名：</b>      
        </div>
        <div nz-col [nzSpan]="15" [nzOffset]="1" >
            <input nz-input maxlength=50 style="width: 100%;" placeholder="请输入文件夹名" [(ngModel)]="newDirName" />
        </div>
    </div>
</nz-modal>

<nz-modal
    [(nzVisible)]="ifShowNewFileModal"
    nzTitle="新建文件"
    (nzOnCancel)="newFileCancel()"
    (nzOnOk)="newFileOk()"
    [nzOkLoading]="newFileWaiting"
>
    <div nz-row nzAlign="middle" class="itemLine">
        <div nz-col [nzSpan]="8" style="text-align: right">
            <b>新文件名：</b>      
        </div>
        <div nz-col [nzSpan]="15" [nzOffset]="1" >
            <input nz-input maxlength=50 style="width: 100%;" placeholder="请输入标题" [(ngModel)]="newFileName" />
        </div>
    </div>
</nz-modal>

<nz-modal
    [(nzVisible)]="ifShowFileRenameModal"
    nzTitle="文件重命名"
    (nzOnCancel)="fileRenameCancel()"
    (nzOnOk)="fileRenameOk()"
    [nzOkLoading]="fileRenameWaiting"
>
    <div nz-row nzAlign="middle" class="itemLine">
        <div nz-col [nzSpan]="8" style="text-align: right">
            <b>重命名：</b>      
        </div>
        <div nz-col [nzSpan]="15" [nzOffset]="1" >
            <input nz-input maxlength=50 style="width: 100%;" placeholder="请输入标题" [(ngModel)]="fileRenameNewName" />
        </div>
    </div>
</nz-modal>

<nz-modal
    [(nzVisible)]="ifShowFileDeleteModal"
    nzTitle="删除文件"
    (nzOnCancel)="fileDeleteCancel()"
    (nzOnOk)="fileDeleteOk()"
    [nzOkLoading]="fileDeleteWaiting"
>
    <p>是否删除文件？</p>
</nz-modal>

<nz-modal
    [(nzVisible)]="ifShowDirDeleteModal"
    nzTitle="删除文件夹"
    (nzOnCancel)="dirDeleteCancel()"
    (nzOnOk)="dirDeleteOk()"
    [nzOkLoading]="dirDeleteWaiting"
>
    <p>是否删除文件夹（文件夹下的文件将一并删除）？</p>
</nz-modal>


