header-height = 40px
left-width = 240px
my-blue = rgb(24, 144, 255)

.dashboard-page
    position fixed
    margin 0
    top header-height
    left left-width
    right 0
    bottom 0
    .bg
        height 100%
        width 100%
    .content
        position fixed
        margin 0
        top header-height
        left left-width
        right 0
        bottom 0
        .title
            position absolute
            top 30%
            left 50%
            width 400px
            margin-left -200px
            text-align center
            font-size 50px
            color my-blue
    



